*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#wrapper {
    margin: auto;
    color: #e7e7e7;
}

.section-content {
    max-width: 1170px;
    margin: auto;
}

/* Header */

.header {
    background-color: #343434;
    padding: 30px 45px;
    height: 10vh;
}

.navbar {
    display: flex;
}

.navbar__link {
    margin-right: auto;
}

.navbar__list {
    display: flex;
    margin-left: auto;
}

.navbar__element {
    text-transform: capitalize;
    list-style: none;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.navbar__element-link {
    text-decoration: none;
    color: #e7e7e7;
}

.navbar__element-link:hover {
    color: #817f7f;
    transition: .3s;
}

/* Section 1 */

.section-1 {
    background-color: #343434;
    padding: 30px 45px;
    text-align: center;
    height: 90vh;
}

.section-1__container-for-two {
    display: grid;
    grid-template-columns: 1fr auto;
}

.section-1__header {
    font-size: 11rem;
    position: absolute;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    left: 360px;
}

.section-1__image {
    z-index: 20;
    position: relative;
}

.specifications {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-right: 100px;
}

.specifications__elem {
    border: 2px solid #98020b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 180px;
    height: 180px;
}

.big {
    font-size: 2.5rem;
}

.small {
    font-size: 1rem;
}

.section-1__paragraph {
    font-size: 1.5rem;
    margin-bottom: 100px;
}

.section-1__triangle {
    font-size: 1.5rem;
}

/* Section 2 */

.section-2 {
    background-color: #444444;
    padding: 30px 45px;
}

/* Section 3 */

.section-3 {
    background-color: #5f5f5f;
    padding: 30px 45px;
}

.slider__img {
    max-width: 1170px;
}

/* Section 4 */

.section-4 {
    background-color: #909090;
    padding: 30px 45px;
}